:root {
    --main-bg-color: #FFFFFC;
    --orange-color: #FF9401;
    --darkorange-color: #F45001;
    --white-color: #FFFFFF;
    --black-color: #2E2E2E;
    --grey-color: #6A5C5C;
    --darkgrey-color: #696969;
    --lightgrey-color: #818181;
    --text-color: #3F3232;
    --grey: #675959;
    --footer-text: #685D5D;
}